# Compiled object files
*.o
*.obj

# Compiled dynamic libraries
*.so
*.dylib

# Executables
*.exe
*.out

# Build directories
build/
bin/

# IDE and editor files
.vscode/
.idea/
*.sln
*.vcxproj
*.xcodeproj

# Dependency directories
vendor/

# image files
example_images/